
<% provide(:title, "Главная страница") %>
<div class="center jumbotron">
  <h1>Фотоконкурс</h1>
<h2>
 Загружай свое фото и стань победителем!
  </h2>
  <% if current_user %>
    <%= link_to "Моя страница", current_user, class: "button1"%>
    </div>

    <div class="col-md-8">
      <h3>Последние добавленные фото</h3>
      <%= render 'shared/feed' %>
    </div>
    <% else %>
<%= link_to "Войти как пользователь VK", "/auth/vkontakte", id: "sign_in", class: "button1" %>
<%= link_to "Войти как пользователь FB", "/auth/facebook", id: "sign_in", class: "button1" %>
<% end %>


