<% provide(:title, @user.name) %>
<% if current_user==@user %>
<% if current_user %>
  <div class="row">
    <aside class="col-md-4">
           <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
  <% end %>
  <%= render 'shared/user_micropost' %>
  <% else %>
<%= render 'shared/user_micropost' %>
<% end %>